<%- include( './partials/header.ejs', { hasSidebar: true, session: session } ) %>
    <div>
        <h1 class="margin-top-large margin-bottom-large text-center font-app-cursive">Leave the marks!!</h1>
    </div>
    <p>
        Consequat laboris duis consectetur cillum ullamco cupidatat. Commodo ipsum officia cillum id occaecat nisi ullamco ullamco est elit excepteur officia ut commodo. Ea commodo nostrud Lorem id dolor proident eiusmod fugiat officia aliquip id magna laboris. Pariatur in id aute consectetur pariatur. Commodo deserunt minim incididunt officia sit sint.
    </p>
    <p>
        Read the stories <a href="/stories">here</a>, or <a href="/stories/add">pen your own story</a>
    </p>
<%- include( './partials/footer.ejs' ) %>
